.home-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 88vh;
  background-color: #0f5474;
}
.home-inside {
  display: flex;
  width: 60%;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
