.exemplo {
  display: flex;
  height: 389px;
  width: 348px;
  background-image: url("../../../images/exemplo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#left-conteiner {
  display: flex;
  background-color: white;
  height: auto;
  width: auto;
}
