.input {
  display: flex;
  margin: 0px auto 20px auto;
  width: 21vw;
  padding: 12px;
}

.input:focus {
  box-shadow: 0 0 0 0;
  border: 1px solid black;
  outline: 0;
  padding: 11px;
}

#mensagem {
  display: flex;
  height: 75px;
  width: 21vw;
  padding: 13px;
  word-wrap: break-word;
}

#mensagem:focus {
  box-shadow: 0 0 0 0;
  border: 1px solid black;
  outline: 0;
  padding: 10px;
}

#button-enviar {
  width: 23vw;
  padding: 10px;
  background-color: #26344b;
  color: white;
}

#right-contato {
  display: flexbox;
  background-color: white;
  padding: 20px;
  height: 40vh;
  width: 40%;
}

#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#button-enviar:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #right-contato {
    padding: 30px;
    width: 70%;
    justify-content: center;
    align-items: center;
  }
  .input {
    display: flex;
    width: 38vw;
  }

  #mensagem {
    width: 38vw;
  }

  #button-enviar {
    width: 41vw;
  }
}

@media screen and (max-width: 768px) {
  #right-contato {
    padding: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .input {
    display: flex;
    width: 55vw;
  }

  #mensagem {
    width: 55vw;
  }

  #button-enviar {
    width: 59vw;
  }
}

@media screen and (max-width: 425px) {
  #right-contato {
    padding: 30px 0px;
  }
}
