.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88vh;
  background-color: #1c3c94;
}
.container-medium {
  width: 60%;
  height: 88vh;
}

.title-container {
  width: auto;
  height: auto;
  padding: 10px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.225);
}
.title-container h1 {
  color: black;
}
.container-small {
  display: flexbox;
  background-color: whitesmoke;
  height: 45%;
  width: 45%;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.225);
  margin-left: none;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.container-content-about {
  display: flex;
  flex-flow: wrap;
  height: 67%;
  margin-top: 25px;
}

@media screen and (max-width: 1024px) {
  .title-container {
    display: flexbox;
    margin-top: 25px;
  }
  .container-content-about {
    height: 55vh;
  }
}
@media screen and (max-width: 768px) {
  .container-medium {
    width: 100vw;
  }
  .title-container {
    box-sizing: border-box;
    width: 95vw;
    height: auto;
    padding: 20px;
    margin: 15px auto;
    align-items: center;
    max-width: 768px;
  }

  .container-content-about {
    height: 470px;
  }
  .container-small {
    padding: 5px;
  }
}

@media screen and (max-width: 425px) {
  .container-content-about {
    height: 400px;
    margin-top: 10px;
  }
  .title-container {
    margin-bottom:0px ;
  }
  .container-small {
    height: 50%;
    margin-bottom: 7px;
  }
}
