.header-container {
  display: flex;
  margin: auto;
  width: 60vw;
  height: 75px;
  margin-bottom: 5px;
  align-items: center;
  justify-content:center;
}

@media screen and (max-width: 1024px) {
  .header-container {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    max-width: 768px;
    /* margin-bottom: 0px; */
  }
}
