@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  height: 100%;
}

.Link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 100%;
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid white;
  font-family: "Inter Tight", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.5s ease-out;
  color: black;
  text-decoration: none;
}
.Link a {
  color: black;
  text-decoration: none;
}
.Link:hover {
  border-bottom: 2px solid rgb(35, 35, 35);
}

@media screen and (max-width:425px) {
  
  .buttons-container {
    width: 100vw;
  }
}